.titulo{
    text-align: center;
    font-weight: bold;
}

.btnexplo{
    
    width: 100%;
    padding: .7em;
    font-size: 16px;
    background-color: white;
    border: 2px solid red;
    color: red;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    text-decoration:none;
    margin-left: 55em;
}


.pie{
    background-color: black;
    padding: 4em;
    
}

.text-upp{
    color: white;
    text-align: justify;
    font-size: 1.5em;
}

.text-foo2{
    background: grey;
    font-size: 0.9em;
    text-align: center;
}
.text-white{
    padding-left: 10px;
}
.text-fooo{
    color: red;
    font-size: 1.1em;
    
}

