
.text-foo2{
    text-align: center;
    text-decoration: none;
    background-color:rgb(11, 11, 11);
}
span{
text-align: left;

    color:red}
    

    .text-white{
        text-decoration: none;
       
      
        backgrkound-color:black;
    }

    .imagef{

        
     width: 12%;
  
   margin-right:5em
    }
    .imagef2{

        
     width: 7%;
     margin-right:10%;
    }
    .leftfooter{
        margin-left: 20%;
    }

    .wspf{
        width: 5%;
        margin-right: 5%;
     position: absolute;
     
      
    
    }
    .contacto, .correo, .direccion {
    display: flex;
    align-items: center;
}

.texto-contacto, .texto-correo, .texto-direccion {
    margin-right: 12px;
}

.imagef, .imagef2 {
    flex-shrink: 0;
}

.text-foo2 {
    text-align: left;
}
.leftfooter{color:white;}