<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>

<body>
  
    <div class="Portada">
        <p class="text-1">Desea tu futuro profesional</p>
        <p class="text-2">dominando las mejores herramientas</p>
        <p class="text-3">Nos enfocamos en enseñar las plataformas líderes en la industria para que puedas estar
            preparado para tu desafiós profesionales.</p>
        <img id="Fondo-Portada">
    </div>
    <br>
    <br>
    <h1 class="card-title-3">Nuestros Cursos</h1>
    <br>
    <div class="container">
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>MEGA CURSO DE AUTOCAD 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-10.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>MACROS Y PROGRAMACIÓN VBA 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-14.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>ESPECIALISTA EN EXCEL PROFESIONAL 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-13.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>DISEÑO WEB RESPONSIVE</h1>
                    <br>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
        </div>
        <br>
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-9.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>ESPECIALISTA EN POWER BI 2022</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-3.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>EXCEL FINANCIERO 2022</h1>
                    <br>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-4.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>SQL SERVER 2019</h1>
                    <br><br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-2.png" alt="">
                </div>
                <div class="card-content">
                    <h1>ADOBE ILUSTRATOR CC 2022</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
        </div>
        <br>
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-5.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>DESARROLLO MÓVIL CON FLUTTER</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-6.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>PRESENTACIÓNES EFECTIVAS CON PREZI</h1>

                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-7.png" alt="">
                </div>
                <div class="card-content">
                    <h1>CORELDRAW</h1>
                    <br><br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-8.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>GESTIÓN DE PROYECTOS CON MS PROJECT</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
        </div>
        <br>
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-11.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>ADOVE DESING CC 2022</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-12.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>MICROSOFT WORD 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <br>
    <br>
<footer class="bg-black text-white text-center text-md-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/src/assets/img/image-7@2x.png" alt="">
                <img src="/src/assets/img/image-7@2x.png" alt="">
                <img src="/src/assets/img/image-7@2x.png" alt="">
                <h5 class="text-upp">Contacto</h5>
                <p>
                    +51 939 123 987
                </p>
                <p>
                    +51 939 123 987(Whatsapp)
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> <br>
                <h5 class="texte">E-Mail</h5>
                <p>
                    devlab.pe@gmail.com
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <br>
                <h5 class="text-upp mb-0">Dirección</h5>
                <p>
                    Lima-Perú
                </p>

            </div>
        </div>
    </div>

    <div class="text-foo2">
        DEVLAB SOLUCIONES INFORMÁTICAS SAC @2022-Todos los derechos reservados
        <a class="text-white">Desarrollado por <span>Giancarlos Barboza N.</span></a>
    </div>

</footer>
</body>

</html>