.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: #333;
}

.navbar .nav-link:hover {
  color: #000000;
  font-weight: 700;
}

.img-logo {
  max-width: 150px;
  max-height: 50px;
}

.show {
  display: block !important;
}