
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="img-logo img fluid" src="/assets/img/Logo.svg" alt="">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/inicio">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cursos">CURSOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/especializaciones">ESPECIALIZACIONES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactos">CONTACTOS</a>
                </li>
                <li class="nav-item nav-disa">
                    <a class="nav-link" routerLink="/aulavirtual">AULA VIRTUAL</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



