.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: #333;
}

.navbar .nav-link:hover {
  color: #007BFF;
}
.img-logo {
  max-width: 150px; /* Ajusta a tus necesidades */
  max-height: 50px; /* Ajusta a tus necesidades */
}