<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especializaciones</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="main-banner">
        <img src="assets/img/header-curso.jpg" alt="" class="img-fluid imagen">
            <div class="container">
                <div class="row">
                    <div class="main-banner-data">
                        <div class="titulo-parrafo">
                            <h1 class="tituloX">Desafia tu futuro profesional <br> 
                          dominando las mejores herramientas</h1>
                            <p class="parrafoX">Nos enfocamos en enseñar las plataformas líderes en la industria <br>
                                para que puedas estar preparado para tus desafíos profesionales.</p>
                        </div>
                       
                    </div>
                </div>
            </div></div>
    <br>
    <br>
    <h1 class="titulo-card">Elige tu área de interés</h1>
    <br>
  
    <div class="container col-md-9">
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-1.jpg" alt="">
                </div>
                <div class="card-content">
                  
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN <br> BIG DATA</h1>
                    <br>
                    <br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>   </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-2.jpg" alt="">
                </div>
                <div class="card-content">
                
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN MICROSOFT EXCEL</h1>
                    <br>
                    <br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>   </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-3.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN <br>
                        POWER BI</h1>
                    <br>
                    <br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>   </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-4.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN FRONTEND DEVELOPER</h1>
                    <br>
                    <br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>    </div>
            </div>
        </div>
        <br>
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-5.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN MYSQL SERVER</h1>
                    <br>
                    <br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>  </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-6.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN CIENCIA DE DATOS</h1>
                    <br>
                    <br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>  </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-7.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN DISEÑADOR CON CSS</h1>
                    <br><br>
                <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div> </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/especialidad-8.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ESPECIALIZACIÓN EN MACHINE LEARNING</h1>
                    <br>
                    <br>
                    <div class="card-buttons"> <a href="#" class="card-button"><button class="card-button">Conocer más</button></a></div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br><br>
    <br>
    <br><img src="assets/img/wsp.png" class="wspf img fluid" alt="">
<footer class="bg-black text-white text-center text-md-start">
    <div class="container col-md-7">
        <div class="col">
            <div class="caja1">
                <div class="contacto">
                    <img src="assets/img/cel.png" class="imagef2 img-fluid" alt="">
                    <div class="texto-contacto">
                        <h5 class="text-upp">Contacto</h5>
                        <p>+51 939 123 987</p>
                        <p>+51 939 123 987 (Whatsapp)</p>
                    </div>
                </div>
            </div>
            <div class="caja2">
                <div class="correo">
                    <img src="assets/img/email.png" class="imagef img-fluid" alt="">
                    <div class="texto-correo">
                        <h5 class="texte">E-Mail</h5>
                        <p>devlab.pe@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="caja3">
                <div class="direccion">
                    <img src="assets/img/gps.png" class="imagef img-fluid" alt="">
                    <div class="texto-direccion">
                        <h5 class="text-upp mb-0">Dirección</h5>
                        <p>Lima-Perú</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-foo2">
            DEVLAB SOLUCIONES INFORMÁTICAS SAC @2022 - Todos los derechos reservados
            <a class="text-white">
                <span class="leftfooter">Desarrollado por </span>
                <span>Giancarlos Barboza N.</span>
            </a>
        </div>
    </div>
</footer>

</body>

</html>