@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.fondo {
  height: 100vh;
  background-image: url("/assets/img/fondo-login.jpg");
  background-size: cover;
  background-position: center;
}

.buenazo {
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  width: 620px;
  height: 550px;
  border: 2px solid red;
  box-shadow: 0 5px 10px rgba(1, 1, 1, 0.1);
  max-width: 90%;
  display: flex;
  flex-direction: column;
 
  padding: 30px;
  box-sizing: border-box;
   width: 30%;
    height: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.735);
}

.backgroundX {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.titulo-form {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  margin-top: -1em;
}

.form-parametros {
  text-align: left;
  padding: 0px 30px;
  font-family: "Fredoka", sans-serif;
  font-weight: 900;
  color: rgb(47, 47, 47);
  margin-bottom: 5px;
}

.ingresarX {
  border-radius: 5px;
  padding: 10px;
  font-family: "Fredoka", sans-serif;
  margin: 5px 0;
  border: 1px solid black;
  border-color: red;
  width: 100%;
  box-sizing: border-box;
}

.buttonX-card {
  padding: 12px 60px;
  border: 1px solid red;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Fredoka", sans-serif;
  background-color: rgb(255, 0, 0);
  color: white;
  width: 100%;
  text-align: center;
}

.buttonX-card:hover {
  color: white;
  background-color: rgb(24, 4, 179);
}

.p3 {
  transition: 0.5s;
  color: red;
  text-align: left;
  padding: 0px 30px;
  font-family: "Fredoka", sans-serif;
}

.img-logo1 {
  width: 9%;
  margin: 0px 120px;
}

::placeholder {
  font-weight: lighter;
  font-family: "Fredoka", sans-serif;
}

@media screen and (max-width: 768px) {
  .buenazo {
    width: 90%;
    height: auto;
  }

  .buttonX-card {
    padding: 12px 30px;
  }
}
