<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual</title>
   
</head>

<body>
    <div class="Portada">
        <div class="totu-1">
            <br>
            <div style="text-align: center;">
                <img class="size-img" src="assets/img/logo-login.jpg" alt="">
            </div>
            <br>
            <br>
            <p class="p1">Bienvenidos a nuestra</p>
            <p class="p1">Aula Virtual</p>

            <p class="p2">Usuario:</p>
            <input class="inputs-1" type="text" placeholder="Ingrese su Usuario" id="usuario" name="usuario" required>
            <br>
            <br>
            <p class="p2">Ingrese su contraseña:</p>
            <input class="inputs-1" type="text" placeholder="Ingrese su Contraseña" id="pass" name="pass" required>
            <br>
            <br>
            <div style="text-align: center; margin-top: 20px;">
                <a class="button-card" href="#">Ingresar</a>
            </div>
            <br>
            <div style="text-align: center;">
                <a href="" class="p3">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
        <img class="fondo_p">
    </div>

</body>

</html>
