/* You can add global styles to this file, and also import other style files */



*{
margin: 0;
padding: 0;
box-sizing: border-box;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


body {
    margin: 0;
    height: 0;
}
}
@import "~bootstrap/dist/css/bootstrap.css";
:root { /* Variables para los colores */
    --color-primario: #007bff;
    --color-secundario: #6c757d;
    --sombras: rgba(0, 0, 0, .5);
    --titulos: #ff311a;
    --parrafos: #535457;
    --fondo: #ffffff;
    --cards: #e9dfb8;
    --button: #FD0000;
    --hover: #010858;
    --footer-background: #202020;
    --nekosor: #ffd45c;
    --navbar: #767373;
}

* {
    margin: 0;
    /* Para que no haya margenes */
    padding: 0;
    /* Para que no haya relleno */
    box-sizing: border-box;

}

