<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banners</title>
 

</head>

<body>


    <div class="main-banner">
        <img src="assets/img/banner-5.jpg" alt="" class="img-fluid imagen">

        <div class="container">
            <div class="row">
                <div class="main-banner-data">
                    <h1 class="titulo">Especialízate con nosotros</h1>
                    <p class="parrafo">Especialízate y certificate en los programas informaticos <br>
                        mas demandas en el mercado laboral actual.</p>
                    <a href="#" class="botones">Ver más</a>
                    <a href="#" class="botones">Especializaciones</a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <h1 class="titulo-card">Nuestros Beneficios</h1>


    <div class="container">
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img src="assets/img/beneficio-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">


                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/beneficio-2.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">


                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/beneficio-3.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">


                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/beneficio-4.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">


                </div>
            </div>

        </div>
    </div>
    <br>
    <br>

    <h1 class="titulo-card">Cursos Destacados</h1>
    <br>
    <div class="container">
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-1.jpg" alt="" class="img-fluid">
                </div>

                <div class="card-content">
                    <h1 class="card-titulo">MEGA CURSO DE AUTOCAD 2021</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-10.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">MACROS Y PROGRAMACIÓN VBA 2021</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-14.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ESPECIALISTA EN EXCEL PROFECIONAL 2021</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-13.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">DISEÑO WEB RESPONSIVE</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-9.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ESPECIALISTA EN POWER BI 2022</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-3.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">EXCEL FINANCIERO 2022</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-4.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">SQL SERVER 2019</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="assets/img/curso-2.png" alt="" class="img-fluid">
                </div>
                <div class="card-content">
                    <h1 class="card-titulo">ADOBE ILUSRATOR CC 2022</h1>
                    <a href="#" class="card-boton">Conocer más</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <a href="#" class="btnexplo">Explorar más cursos</a>
    <br>
    <br>

    <section class="">
<img src="assets/img/wsp.png" class="wspf img fluid" alt="">
<footer class="bg-black text-white text-center text-md-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-3 mb-4 mb-md-0">
                <div class="contacto">
                    <img src="assets/img/cel.png" class="imagef2 img-fluid" alt="">
                    <div class="texto-contacto">
                        <h5 class="text-upp">Contacto</h5>
                        <p>+51 939 123 987</p>
                        <p>+51 939 123 987(Whatsapp)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <div class="correo">
                    <img src="assets/img/email.png" class="imagef img-fluid" alt="">
                    <div class="texto-correo">
                        <h5 class="texte">E-Mail</h5>
                        <p>devlab.pe@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                <div class="direccion">
                    <img src="assets/img/gps.png" class="imagef img-fluid" alt="">
                    <div class="texto-direccion">
                        <h5 class="text-upp mb-0">Dirección</h5>
                        <p>Lima-Perú</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-foo2">
            DEVLAB SOLUCIONES INFORMÁTICAS SAC @2022-Todos los derechos reservados
            <a class="text-white"> <span class="leftfooter"> Desarrollado por</span> <span>Giancarlos Barboza
                    N.</span></a>
        </div>
    </div>
</footer>
    </section>
</body>

</html>