<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio <i class="fa-solid fa-rocket"> </i></title>



</head>
<style>
    #fondo1 {
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.432), rgba(46, 19, 165, 0.856)), url("assets/img/banner-5-corte.jpg");
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;

    }
</style>

<body>

    <div class="Portada">
        <p class="text-1">Especializate con nosotros <i class="fa-solid fa-rocket"></i></p>
        <p class="text-2">Especializate y certificate en los programas informaticos</p>
        <p class="text-3">Mas demandas en el mercado laboral actual.</p>
        <div class="button-s">
            <a href="#" class="buton1">Ver Cursos</a>
            <a href="#" class="buton2">Ver Especializaciones</a>
        </div>
        <img id="fondo1">
    </div>
    <br>
    <h1 class="card-title">Nuestros Beneficios</h1>
    <br>
    <div class="container-beneficios">
        <div class="row">
            <div class="col-sm-3">
                <img src="assets/img/beneficio-1.jpg " alt="" class="img-fluid">
            </div>
            <div class="col-sm-3">
                <img src="assets/img/beneficio-2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-3">
                <img src="assets/img/beneficio-3.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-3">
                <img src="assets/img/beneficio-4.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <br>
    <h1 class="card-title-3">Cursos Destacados</h1>
    <br>
    <div class="container">
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-1.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>MEGA CURSO DE AUTOCAD 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-10.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>MACROS Y PROGRAMACIÓN VBA 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-14.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>ESPECIALISTA EN EXCEL PROFESIONAL 2021</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-13.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>DISEÑO WEB RESPONSIVE</h1>
                    <br>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
        </div>
        <br>
        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-9.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>ESPECIALISTA EN POWER BI 2022</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-3.jpg" alt="">
                </div>
                <div class="card-content">
                    <a class="tmñao"></a>
                    <h1>EXCEL FINANCIERO 2022</h1>
                    <br>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-4.jpg" alt="">
                </div>
                <div class="card-content">
                    <h1>SQL SERVER 2019</h1>
                    <br><br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img class="img-fluid" src="assets/img/curso-2.png" alt="">
                </div>
                <div class="card-content">
                    <h1>ADOBE ILUSTRATOR CC 2022</h1>
                    <br>
                    <a class="button-card" href="">Conocer más</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div style="text-align: center;">
        <a class="button-card-2" href="">Explorar mas cursos <i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
    <br>
    <br>
    <footer class="bg-black text-white text-center text-md-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <img src="/src/assets/img/image-7@2x.png" alt="">
                    <img src="/src/assets/img/image-7@2x.png" alt="">
                    <img src="/src/assets/img/image-7@2x.png" alt="">
                    <h5 class="text-upp">Contacto</h5>
                    <p>
                        +51 939 123 987
                    </p>
                    <p>
                        +51 939 123 987(Whatsapp)
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0"> <br>
                    <h5 class="texte">E-Mail</h5>
                    <p>
                        devlab.pe@gmail.com
                    </p>
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <br>
                    <h5 class="text-upp mb-0">Dirección</h5>
                    <p>
                        Lima-Perú
                    </p>
    
                </div>
            </div>
        </div>
    
        <div class="text-foo2">
            DEVLAB SOLUCIONES INFORMÁTICAS SAC @2022-Todos los derechos reservados
            <a class="text-white">Desarrollado por <span>Giancarlos Barboza N.</span></a>
        </div>
    
    </footer>
</body>

</html>